version: "3.3"
services:

  clickhouse:
    image: clickhouse/clickhouse-server:${SOFTWARE_VERSION_TAG}
    restart: unless-stopped
    volumes:
      - ./data/clickhouse:/var/lib/clickhouse
      - ./config/clickhouse-user-config.xml:/etc/clickhouse-server/users.d/logging.xml:ro
      - ./config/clickhouse-options.xml:/etc/clickhouse-server/config.d/options.xml:ro
    ports:
      - 172.17.0.1:28123:8123
      - 172.17.0.1:9000:9000
      - 172.17.0.1:3306:3306
      - 172.17.0.1:5432:5432
    environment:
      - CLICKHOUSE_USER=root
      - CLICKHOUSE_PASSWORD=${SOFTWARE_PASSWORD}
      - CLICKHOUSE_DB=default
      - CLICKHOUSE_DEFAULT_ACCESS_MANAGEMENT=1
    ulimits:
      nofile:
        soft: 262144
        hard: 262144

  tabix:
        image: spoonest/clickhouse-tabix-web-client
        ports:
            - 172.17.0.1:28124:80
        depends_on:
            - clickhouse
        restart: unless-stopped
        environment:
            - CH_NAME=clickhouse
            - CH_HOST=https://${DOMAIN}:18123
            - CH_LOGIN=root
            - CH_PASSWORD=${SOFTWARE_PASSWORD}
